<%= form_with model: @article do |form| %>
  <div class="row">
    <div class="col">
      <%= form.text_field :name, placeholder:"full name" %>
    </div>

    <div class="col">
      <%= form.email_field :email, placeholder:"email id" %>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col">
      <%= form.text_field :mobile, placeholder:"phone number" %>
    </div>
    
    <div class="col">
      <%= form.phone_field :company, placeholder:"company or person name" %>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    
    <div class="col">
      <%= form.text_area :massage, placeholder:"type youre requirement here" %>
    </div>
  </div>
  <br>
  <br>
  <div class="row">

    <div class="col">
      <%= form.submit "submit", class:"btn btn-primary" %>
    </div>
  </div>
<% end %>

