<div class="row" style="width: 2000px; background-color: gray; text-align: center;">
	<div class="col" style=" margin-top: 5%;">
		<h1>SE</h1>
	</div>
	<div class="col" style=" margin-top: 5%;">
		<h3>Usefull Links</h3>
	</div>
	<div class="col" style=" margin-top: 5%;">
		<h3>Contact Us</h3>
	</div>
	<div class="col" style=" margin-top: 5%;">
		<h3>Accreditations</h3>
	</div>
</div>
<div class="row" style="width: 2000px; background-color: gray; text-align: center;">
	<div class="col">
		<h1></h1>
	</div>
	<div class="col">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
	         <li class="nav-item">
	            <%= link_to "home", root_path, style:"margin-left: 5%;", class:"nav-link" %>
	         </li>
             <li class="nav-item">
              <%= link_to "ABOUT", articles_about_path, style:"margin-left: 5%;", class:"nav-link" %>
            </li>
             <li class="nav-item">
              <%= link_to "SERVICES", articles_services_path, style:"margin-left: 5%;", class:"nav-link" %>
            </li>
             <li class="nav-item">
              <%= link_to "GALLERY", articles_gallery_path, style:"margin-left: 5%;", class:"nav-link" %>
            </li>
             <li class="nav-item">
              <%= link_to "FAQ", articles_faq_path, style:"margin-left: 5%;", class:"nav-link" %>
            </li>
             <li class="nav-item">
              <%= link_to "CONTACT", articles_contact_path, style:"margin-left: 5%;", class:"nav-link" %>
            </li>
         </ul>
	</div>
	<div class="col">
		<p style="text-align: center;">
			Islampur Das, District-bijnor, post- Bijnor, State- Utter Pradesh, 246701
		</p>
		<br>
		<div class="row">
			<div class="col-3">
				contact No. :-
			</div>
			<div class="col" style="text-align: left;">
				<%= phone_to 8077120655, class:"nav-link" %>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				contact No. :-
			</div>
			<div class="col" style="text-align: left;">
				<%= phone_to 9355389879, class:"nav-link" %>
			</div>
		</div>
		
	</div>
	<div class="col">
		<h4 style="color: lightcoral;">ISO 9001/2001</h4>
		<h4 style="color: lightcoral;"> ISO 3834-2</h4>
		<h4 style="color: lightcoral;">EN15085</h4>
	</div>
</div>