<nav class="container-fluid-center">    
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <%= link_to "SE", root_path, style:"margin-left: 5%;", class:"navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          

           <li class="nav-item">
            <%= link_to "home", root_path, style:"margin-left: 5%;", class:"nav-link" %>
          </li>
            

             <li class="nav-item">
              <%= link_to "ABOUT", articles_about_path, style:"margin-left: 5%;", class:"nav-link" %>
            </li>
             <li class="nav-item">
              <%= link_to "SERVICES", articles_services_path, style:"margin-left: 5%;", class:"nav-link" %>
            </li>
             <li class="nav-item">
              <%= link_to "GALLERY", articles_gallery_path, style:"margin-left: 5%;", class:"nav-link" %>
            </li>
             <li class="nav-item">
              <%= link_to "FAQ", articles_faq_path, style:"margin-left: 5%;", class:"nav-link" %>
            </li>
             <li class="nav-item">
              <%= link_to "CONTACT", articles_new_path, style:"margin-left: 5%;", class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%#= link_to "CALL US-", style:"margin-left: 5%;", class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= phone_to 1234567890, style:"margin-left: 5%;", class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%#= link_to "EMAIL TO-", style:"margin-left: 5%;", class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= mail_to "szamal@gmail.com", style:"margin-left: 5%;", class:"nav-link" %>
            </li>
          </ul>
      </div>
    </div>
  </nav>
    <br>
    <br>
    <div class="container text-center">
      <div class="row">
        <div class="col">
            
        </div>
        <div class="col">
          
        </div>
    </div>
  </div>
</nav>